<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'StupendousStyles' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>63e50c3a-e42e-4e40-8696-646ae27aeb7d</InstrumentationKey>
</ApplicationInsights>